<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PolicyLevel" value="Machine" />
		<add key="GroupName" value="SmartWeb" />
		<add key="GroupDesc" value="Smart Web CodeGroup." />
		<add key="PermissionSet" value="FullTrust" />
		<!--add key="PermissionURL" value="http://localhost/*,http://smartweb.dev/*,http://12.230.58.188/*,http://12.230.58.136/*,http://12.230.58.144/*," /-->
		<!-- <add key="PermissionURL" value="http://localhost/*,http://report.hanamicron.co.kr/*,http://211.180.182.15/*,http://12.230.54.33/*,http://12.230.60.50/*," />-->
		<add key="PermissionURL" value="http://localhost/*,http://report.hanamicron.co.kr/*,http://211.180.182.15/*,http://12.230.54.33/*,http://12.230.54.129/*,http://12.230.54.35/*" />
	</appSettings>
	<!--
	<runtime>
		<NetFx40_LegacySecurityPolicy enabled="true"/>
	</runtime>
	-->
</configuration>