<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <compilation debug="true" defaultLanguage="c#" />
    </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="SmartWebService.asmx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>